<!-- Reusable Attractive Loader Component -->
<div class="attractive-loader" id="<%= loader_id %>" style="display: none;">
  <div class="loader-content">
    <div class="attractive-spinner">
      <div class="spinner-ring"></div>
      <div class="spinner-ring"></div>
      <div class="spinner-ring"></div>
    </div>
    <div class="loading-text">
      <span class="loading-dots"><%= loading_text || "Loading" %></span>
    </div>
  </div>
</div>