<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <h4 class="mb-0">Add New Sales Product</h4>
        </div>
        <div class="card-body">
          <%= render 'form', sales_product: @sales_product %>
        </div>
      </div>
    </div>
  </div>
</div>