<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="d-flex justify-content-between align-items-center mb-4">
        <h2 class="h3 mb-0">
          <i class="fas fa-plus-circle text-primary me-2"></i>
          Create Purchase Invoice
        </h2>
        <div class="d-flex gap-2">
          <%= link_to purchase_invoices_path, class: 'btn btn-outline-secondary' do %>
            <i class="fas fa-arrow-left me-2"></i>Back to Invoices
          <% end %>
          <button type="button" class="btn btn-outline-secondary" title="Settings">
            <i class="fas fa-cog"></i>
          </button>
        </div>
      </div>
      
      <%= render 'form', purchase_invoice: @purchase_invoice %>
    </div>
  </div>
</div>